In [1]:
import json
import re
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
def flattenJSON(json_obj):   
    data = json.loads(json_obj)
    
    def flatten_dict(data):
        for k in list(data):
            if isinstance(data[k], dict):
                child = flatten_dict(data[k])
                for k_ in child:
                    data[k + '.' + k_] = child[k_]
                else:
                    del data[k]
        return data
    
    return flatten_dict(data)

In [3]:
def toConvertableJson(s):    
    def _convertableJson(matchObj):
        if matchObj.group(1):
            return '"'
        elif matchObj.group(2):
            return ':"False"'
        elif matchObj.group(3):
            return ':"True"'
    
    d = flattenJSON(s)
    for i,v in enumerate(d):
        if isinstance(d[v], str) and ('{' in d[v]):
            d[v] = json.loads(re.sub('(\')|(: False)|(: True)',_convertableJson, d[v]))
    return flattenJSON(json.dumps(d))

In [4]:
with open('yelp_dataset/user.json') as f:
    data = [json.loads(line) for line in f]
user = pd.DataFrame(data)
user = user.sample(frac=0.05, replace=False, random_state=1)
user

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
888070,TQnJM4pv9pxwRt64Gj5JfA,Amy,5,2012-11-04 11:58:43,5,0,1,,"Sxnf9uOrAIy7HOM3NYyF-g, dLC-DsQGkmWF--7076CWmA",0,...,0,0,0,0,0,0,0,0,1,0
786620,_I148UPrAgo-SZ9qOkwX3A,Pat,1,2018-10-24 20:15:13,0,0,0,,"WitMA5a9h_1XQAsb34Xtmw, GUsHfw4QmOaVmXvoqWDD1A...",0,...,0,0,0,0,0,0,0,0,0,0
43384,1e4CMKgujUHagjQgv3NVCA,Carlos,11,2014-06-14 18:07:23,1,2,2,,"WQQsl6_9QhqgJY0Zr5gMnQ, wX2ETi3RJMb6pRmN7Y3jSA...",0,...,0,0,0,0,0,0,0,0,0,0
12854,F0nR2cEBLSZtBb2hlxnpoA,May,159,2006-06-22 04:29:33,173,59,74,"2015,2016,2017","InVoTvQufmEmcVsSjUrtEw, mOKi4ysh1CK2rLu8pKwBAQ...",12,...,2,1,0,0,2,2,7,7,4,1
394483,B1SdzXmYZvK7QZwZ1g_XCg,Marlene,8,2015-06-20 00:57:29,3,1,0,,"hFQ9pR73raKHR031Y_skYw, DV1w2IaGhifIjdKLQReWXw...",0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534886,YGEQoYKCs0nJ05VRAKShSg,Zelda,37,2012-06-13 03:22:44,51,14,9,,"8JjDxdld-IZnKIDifXWuww, G_eVitxNoQvdgT6qZG9nmA...",1,...,1,0,0,0,1,1,1,1,0,0
1471474,ZBWFfWR4CD9_m-A3kmZJ3Q,Matthew,1,2016-10-21 13:47:44,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
667752,6ynYD4jt071290lO96ywhQ,Christopher,3,2016-05-27 04:05:03,1,0,0,,"IPzUXp2SSgyHyCyrDo9vEA, EsuZd0tiQ5ABk-Mgb4oHzQ...",0,...,0,0,0,0,0,0,0,0,0,0
303412,aeMjXQ-aBJ1h1JnaA8pR1Q,Mnementh,3,2010-07-13 20:02:46,1,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1146079,DIJPMHduXTzlhAafbixhig,Brandi,2,2015-05-22 17:50:39,1,0,0,,"Boe9oVAePdso-Rl6vOhyIg, OtN3vTEWP7eF1ISGlKD6Ig...",0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
with open('yelp_dataset/review.json') as f:
    data = [json.loads(line) for line in f]
review = pd.DataFrame(data)
review = review.sample(frac=0.05, replace=False, random_state=1)
review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
4634629,xw37uw9b2wFwVRLXSCtgNg,tIau2r-ox1LhC38wXX6oew,IUoj0ORP1VAV9xx4dmHP9g,5.0,0,0,0,I love this location and have been a customer ...,2018-09-07 20:41:56
4349124,jKxK47dz6D-ZpKqmd-oTeA,q0lV9MoRYDhyoLAQ9X91iA,hihud--QRriCYZw1zZvW4g,1.0,0,0,0,I think that the food is not at all authentic ...,2018-01-03 03:57:16
6056428,boaG5qtsdwR3KBwQbvnfAg,kUE8PMxx2_HTT32T16Z8Aw,zT3IxSfolhu4qU0tV0pTjg,2.0,1,0,0,If you schedule your appointment late in the a...,2018-06-27 01:40:52
1713906,ah5BuOXlUwUIfSYHPa9Syg,0wOrT_OF0QN7bWlbgCc2ww,em__JLa6eEyYXzMbbVEahQ,5.0,0,0,0,Wow! What can I say about Shauna? Plenty of th...,2013-07-08 06:53:20
3794033,TB2cTa0ji3JaYbInQN_nqQ,oKhpMYvIntENZ5UzuoZWUg,1KhBzrqmU164bss64jR5uA,4.0,0,0,0,Fun night of karaoke. Food good...lady barten...,2016-03-16 05:56:01
...,...,...,...,...,...,...,...,...,...
4491823,g9ahL53bo3ATOdsxfr9cgw,ZkltFQ9FEM75pFS6dmtl1w,CO8MpD1bSkBPArXKBKkIfA,5.0,0,0,0,So happy they have this in Arizona now! Taste ...,2015-11-01 19:46:24
6203458,oucYbPoOCSRjk4Mv-EWaQA,x8e1Cc1lh835Q1CpHAD0RQ,UT22ExffDZjB1tzBDwSWfA,5.0,0,0,0,The service was awesome! Thank you Parker! I h...,2016-04-03 03:28:22
1881208,vvx62GHUKs5d6eO7tuca8A,00qgu1BIDCUtS3zC7bit9g,YzWB7zn0b40Ijw1tkBnt0A,1.0,5,1,0,I didn't know they were part of the Bell autom...,2015-06-29 20:04:42
2705634,K4uPpx-J284iAAI208VViQ,NOEeBryAxOWFJoTkmbkckw,wVLvEcK05JGhw_EmdTpF9Q,5.0,2,1,1,I was so happy with my experience today in the...,2016-10-28 04:51:17
2666168,vUCw9LKDxdO05vhP306VFg,NE4w4E1mgC5x64QZVvD53g,pu1NNNWpAXneWwaq1vGaFw,5.0,0,0,0,This place is great! First time here but the a...,2018-01-09 22:17:53

In [6]:
with open('yelp_dataset/business.json') as f:
    data = [toConvertableJson(line) for line in f]
business = pd.DataFrame(data)
business = business.sample(frac=0.05, replace=False, random_state=1)
business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,attributes.DietaryRestrictions.vegan,attributes.DietaryRestrictions.kosher,attributes.DietaryRestrictions.halal,attributes.DietaryRestrictions.soy-free,attributes.DietaryRestrictions.vegetarian,attributes.BestNights,attributes.HairSpecializesIn,attributes.Open24Hours,attributes.DietaryRestrictions,attributes.RestaurantsCounterService
57697,ku9ak9cQnIGBCXBtRd61tQ,Spoke & Wheel - Phoenix,8525 N Central Ave,Phoenix,AZ,85020,33.561236,-112.073740,4.0,319,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34476,VG2Tu9i-ZOwTVlUktTGE9w,ALDI,3089 Sussex Ave,Pittsburgh,PA,15226,40.383805,-80.014104,3.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43742,OAazmHOQ9FUkMhJD7IuiUA,Muttley Crue Organics,"620 46th Avenue NE, Suite 112",Calgary,AB,T2E 0C1,51.094810,-114.050533,4.5,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48670,1ktw2saTrIr_YJSxQjhnpg,Urban Kitchen & Deli,9751 Chester Ave,Cleveland,OH,44106,41.505688,-81.619490,4.0,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15857,AQxTDiy8tXoL7c8swfuQ1w,Vic Pierce Liquor,609 N Sherman Ave,Madison,WI,53704,43.107572,-89.363083,4.5,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69187,G1DRv6ZmGUhv23cy1Ar4sw,Mytech Electronics,"Walmart Super Center, 150 McEwan Drive",Bolton,ON,L7E 2Y3,43.864551,-79.711591,2.5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10834,1h0aNxlPTaCz2LGSkv0Nkw,Aquawave Express Wash,6415 W Wilkinson Blvd,Belmont,NC,28012,35.252286,-81.046329,3.0,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30753,fTGQJCDFfHUCPm_Xk2SimA,Little Lot Diner,1436 8 Street SW,Calgary,AB,T2R 1R7,51.039335,-114.081236,4.5,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177129,O7RMINvCcGVNTMlD7TGVfg,Oreilys Auto Parts,1611 Decatur Blvd,Las Vegas,NV,89102,36.147200,-115.189200,4.0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74046,BP4tNOTitSvtwLRtUub2KQ,Rent-A-Friend Labor Services,,Mesa,AZ,85203,33.445974,-111.803201,5.0,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
with open('yelp_dataset/checkin.json') as f:
    data = [json.loads(line) for line in f]
checkin = pd.DataFrame(data)
checkin = checkin.sample(frac=0.05, replace=False, random_state=1)
checkin

,business_id,date
156756,xx9hljOh-M5NYojRltqpBw,"2010-07-01 02:01:40, 2010-07-13 02:44:44, 2010..."
118887,iuLcQBpGT_r4DTIHGcMUzA,"2013-01-13 22:44:10, 2014-02-02 18:59:13, 2014..."
115955,hkazOWo9uqGemkRww7YGyw,2013-03-24 17:45:11
76428,T7zfYeaMM7G5hratsil6Zg,"2010-10-08 21:59:35, 2011-10-21 19:05:58, 2011..."
33136,C5MFLsL149dfq0dAT-8STw,"2013-11-16 20:42:30, 2013-11-26 19:35:50, 2014..."
...,...,...
107587,eTBNs0QYa9fUOrNsZEllAA,"2012-03-03 00:45:59, 2012-11-12 22:14:00, 2012..."
68419,PxH02Eu2Z4MUycBLU80D8g,"2010-07-24 17:55:48, 2010-08-25 10:09:47, 2011..."
147914,uSB0fH55lobpipg_S14PLw,"2012-09-15 15:42:46, 2012-12-23 00:34:57, 2013..."
124234,l1Vt6y_0ntMhErLBRgFHFA,"2010-01-23 19:25:51, 2014-03-13 00:31:24, 2014..."
95690,_kXHHT8RMqx9Ro8gWXE9kA,"2010-04-15 23:51:05, 2010-06-19 22:26:47, 2010..."

In [8]:
with open('yelp_dataset/tip.json') as f:
    data = [json.loads(line) for line in f]
tip = pd.DataFrame(data)
tip = tip.sample(frac=0.05, replace=False, random_state=1)
tip

,user_id,business_id,text,date,compliment_count
756522,ocCMffVARqrlQJrIB6TW0Q,065c76tt1dXBNmoGBymUgQ,Great hot dogs and cold beer. Go America!!!!,2017-11-24 21:32:31,0
786205,z7cXkDAXlqEi9aCF1p9nAQ,Fv3HvJPQYqfmniTgtIQJzA,"Great coffee, pastries and atmosphere",2017-07-23 03:44:05,0
302727,3tFW6x0PaEIiokZTjKAVqw,Xny0n0s98TpP82sQxfgIMQ,Good comfort food.,2014-07-31 05:59:21,0
162622,SiJbi5-NzyJRPgYVlhAorg,IsoLzudHC50oJLiEWpwV-w,Awesome kale salad,2011-10-02 21:49:43,0
34493,1y1T-gONnhnC68JlR6RNgA,vpoXE7CsEMZNzBMDvkuqHg,"Good flavor, slightly Americanized. Lunch Pan...",2012-10-20 19:41:29,0
...,...,...,...,...,...
208137,Ue_7yUlkEbX4AhnYdUfL7g,yoxtSQ8IXBbRBH4KUKO3eA,Call and make a reservation to assure a spot a...,2016-06-10 23:46:45,0
168931,1Av1yTHSl4pi6MPMLC021A,g8OnV26ywJlZpezdBnOWUQ,big pancake!,2011-02-13 06:45:20,0
310626,vLUHU5KxoB_CzLSHLkwz-g,xJzJpTYC_1k_EE0AWTOPXw,Going to watch The Avengers!,2012-05-05 01:53:40,0
27128,TGk5vjg-xTREPuKa7kEfkQ,H9sg6Vq9m9C9EyBEPypPwg,I couldn't rely on my friends when it came to ...,2013-08-27 17:05:16,0
1169179,KqM1_BQf5dGXq0MTT3PdkA,CxsN79g8rZoouLwZvr_FVg,best vegan food in nc hands down,2016-02-22 23:18:36,0